# DirectoryIndex info.php indexProyectoDAW.html
ErrorDocument 404 /208DAWProyectoDAW/error/404.html
ErrorDocument 403 /208DAWProyectoDAW/error/403.html
#
#
RewriteEngine On
# Detectar el idioma del navegador 
RewriteCond %{HTTP:Accept-Language} ^es [NC] 
RewriteRule ^$ /208DAWProyectoDAW/es/indexProyectoDAW.html [L] 

RewriteCond %{HTTP:Accept-Language} ^pt [NC] 
RewriteRule ^$ /208DAWProyectoDAW/pt/indexProyectoDAW.html [L] 

# Redirigir a la página principal si no se encuentra el idioma 
RewriteRule ^$ /208DAWProyectoDAW/en/indexProyectoDAW.html [L] 

# Alias para el entorno de desarrollo 
RewriteRule ^dev$ /208DAWProyectoDAW/desarrollo/indexProyectoDAW.html [L] 

# Alias para el entorno de pruebas 
RewriteRule ^test$ /208DAWProyectoDAW/pruebas/indexProyectoDAW.html [L] 

# Alias para el entorno de producción 
RewriteRule ^prod$ /208DAWProyectoDAW/produccion/indexProyectoDAW.html [L] 